{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>India</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-light">

<div class="container my-5">

    <h1 class="mb-4 text-center">India</h1>

    <p>During the period 2000–500 BCE, many regions of the subcontinent transitioned 
        from the Chalcolithic cultures to the Iron Age ones.
        The Vedas, the oldest scriptures associated with Hinduism,
        were composed during this period, and historians have analysed these to posit a Vedic culture in the Punjab 
        region and the upper Gangetic Plain. Most historians also consider this period to have encompassed several waves 
        of Indo-Aryan migration into the subcontinent from the north-west. The caste system, which created a hierarchy of priests, 
        warriors, and free peasants, but which excluded indigenous peoples by labelling their occupations impure, arose during this 
        period. On the Deccan Plateau, archaeological evidence from this period suggests the existence of a chiefdom stage of 
        political organisation. In South India, a progression to sedentary life is indicated by the large number of 
        megalithic monuments dating from this period, as well as by nearby traces of agriculture, irrigation tanks, and craft traditions.
    </p>

    <div class="text-center my-4">
        <img src="{% static 'Taj_Mahal.jpg' %}" class="img-fluid " alt="Image">
    </div>

    <h2 class="mt-5 mb-3">States and Capitals</h2>

    <div>
        <table class="table table-bordered  align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>Sl. No</th>
                    <th>State</th>
                    <th>Capital</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>Andhra Pradesh</td><td>Amaravati</td></tr>
                <tr><td>2</td><td>Arunachal Pradesh</td><td>Itanagar</td></tr>
                <tr><td>3</td><td>Assam</td><td>Dispur</td></tr>
                <tr><td>4</td><td>Bihar</td><td>Patna</td></tr>
                <tr><td>5</td><td>Chhattisgarh</td><td>Raipur</td></tr>
                <tr><td>6</td><td>Goa</td><td>Panaji</td></tr>
                <tr><td>7</td><td>Gujarat</td><td>Gandhinagar</td></tr>
                <tr><td>8</td><td>Haryana</td><td>Chandigarh</td></tr>
                <tr><td>9</td><td>Himachal Pradesh</td><td>Shimla</td></tr>
                <tr><td>10</td><td>Jharkhand</td><td>Ranchi</td></tr>
                <tr><td>11</td><td>Karnataka</td><td>Bengaluru</td></tr>
                <tr><td>12</td><td>Kerala</td><td>Thiruvananthapuram</td></tr>
                <tr><td>13</td><td>Madhya Pradesh</td><td>Bhopal</td></tr>
                <tr><td>14</td><td>Maharashtra</td><td>Mumbai</td></tr>
                <tr><td>15</td><td>Manipur</td><td>Imphal</td></tr>
                <tr><td>16</td><td>Meghalaya</td><td>Shillong</td></tr>
                <tr><td>17</td><td>Mizoram</td><td>Aizawl</td></tr>
                <tr><td>18</td><td>Nagaland</td><td>Kohima</td></tr>
                <tr><td>19</td><td>Odisha</td><td>Bhubaneswar</td></tr>
                <tr><td>20</td><td>Punjab</td><td>Chandigarh</td></tr>
                <tr><td>21</td><td>Rajasthan</td><td>Jaipur</td></tr>
                <tr><td>22</td><td>Sikkim</td><td>Gangtok</td></tr>
                <tr><td>23</td><td>Tamil Nadu</td><td>Chennai</td></tr>
                <tr><td>24</td><td>Telangana</td><td>Hyderabad</td></tr>
                <tr><td>25</td><td>Tripura</td><td>Agartala</td></tr>
                <tr><td>26</td><td>Uttar Pradesh</td><td>Lucknow</td></tr>
                <tr><td>27</td><td>Uttarakhand</td><td>Dehradun</td></tr>
                <tr><td>28</td><td>West Bengal</td><td>Kolkata</td></tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>
